@import "tailwindcss";

:root {
  --gray-1: #222326;
  --gray-2: #585a60;
  --gray-3: #b4b6bd;
  --gray-4: #dcdcdc;
  --gray-5: #eeeef2;
  --gray-6: #f4f4f4;
  --gray-7: #d2d3db;

  --blue-1: #1a69c6;

  --boat-1: #ffffff;
  --boat-2: #222326;
  --boat-3: #e00012;
  --boat-4: #0019ba;
  --boat-5: #ffe100;
  --boat-6: #22a638;

  --green-btn: #1eba56;

  --tag-bg: #ffe8da;
  --tag-02: #5bca5d;
  --tag-03: #ff891a;

  --primary-red: #e00012;
  --primary-blue: #0019ba;
  --primary-yellow: #ffe100;
  --primary-green: #22a638;

  --accent-yellow: #ffbb00;

  --accent-blue: #2973e0;

  /* Linear gradient */
  --gradient-start-red-01: #ff7100;
  --gradient-end-red-01: #ba000f;

  /* Radial gradient */
  --gradient-start-red-02: #ff8345;
  --gradient-end-red-02: #df0600;

  /* Radial gradient */
  --gradient-start-red-03: #ff7100;
  --gradient-end-red-03: #e00012;

  /* Linear gradient */
  --gradient-start-blue: #2a86ea;
  --gradient-end-blue: #00107b;

  /* Radial gradient */
  --gradient-start-blue-02: #7adcff;
  --gradient-end-blue-02: #1a28b8;

  /* Linear gradient */
  --gradient-start-yellow: #ffff00;
  --gradient-end-yellow: #ed9200;

  /* Linear gradient */
  --gradient-start-black-01: #000000;
  --gradient-end-black-01: #37383b;

  /* Linear gradient */
  --gradient-start-black-02: #1e1f21;
  --gradient-end-black-02: #57595d;

  /* Linear gradient */
  --gradient-start-silver: #ffffff;
  --gradient-end-silver: #e3e3e3;

  /* Linear gradient */
  --gradient-start-logo-01: #fff000;
  --gradient-mid-logo-01: #ef8200;
  --gradient-end-logo-01: #e50012;

  /* Linear gradient */
  --gradient-start-logo-02: #bae2f8;
  --gradient-mid-logo-02: #006bb8;
  --gradient-end-logo-02: #004097;

  /* Linear gradient */
  --gradient-start-fv-01: #fd0012;
  --gradient-end-fv-01: #7f0012;

  /* Linear gradient */
  --gradient-start-fv-02: #0019ba;
  --gradient-end-fv-02: #2a86ea;

  /* Linear gradient */
  --gradient-start-yellow-bg: #ff8f52;
  --gradient-end-yellow-bg: #ffda5f;

  /* Linear gradient Gradation/Green */
  --gradient-start-green: #dbff71;
  --gradient-end-green: #00a650;

  /* Linear gradient Red_04 */
  --gradient-start-red-04: #ff7100;
  --gradient-mid-red-04: #ff9400;
  --gradient-end-red-04: #ba000f;

  /* Linear gradient Blue_04 */
  --gradient-start-blue-04: #2a86ea;
  --gradient-mid-blue-04: #73a8ef;
  --gradient-end-blue-04: #00107b;
}

html,
body {
  font-style: normal;
  color: #000000;
  line-height: 1.25;
  font-size: calc(16 / 375 * 100vw);
}

@media (min-width: 768px) {
  html,
  body {
    font-size: calc(16 / 1440 * 100vw);
  }
}

@media (min-width: 1441px) {
  html,
  body {
    font-size: calc(16 / 1920 * 100vw);
  }
}

.btn-bg {
  background: url("/static/common/img_btn_bg.png") no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  border-radius: inherit;
}

.btn-gradient-01 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-yellow) 0%,
    var(--gradient-end-yellow) 100%
  );
}

.btn-gradient-02 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-red-01) 0%,
    var(--gradient-end-red-01) 100%
  );
}

.btn-gradient-03 {
  background: linear-gradient(
    0deg,
    var(--gradient-start-black-02) 39.9%,
    var(--gradient-end-black-02) 100%
  );
}

.btn-gradient-04 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-green) 0%,
    var(--gradient-end-green) 100%
  );
}

.btn-gradient-05 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-red-04) 0%,
    var(--gradient-mid-red-04) 50.48%,
    var(--gradient-end-red-04) 100%
  );
}

.btn-gradient-06 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-blue-04) 0%,
    var(--gradient-mid-blue-04) 50.48%,
    var(--gradient-end-blue-04) 100%
  );
}

.btn-gradient-07 {
  background: linear-gradient(
    180deg,
    var(--gradient-start-blue) 0%,
    var(--gradient-end-blue) 100%
  );
}

.bg-gradient-1st {
  background: linear-gradient(
    332.27deg,
    #d0a900 0%,
    #fdeebf 49.52%,
    #d0a900 100%
  );
}

.bg-gradient-2nd {
  background: linear-gradient(
    332.27deg,
    #bdc3c9 0%,
    #ffffff 49.52%,
    #bdc3c9 100%
  );
}

.bg-gradient-3rd {
  background: linear-gradient(
    332.27deg,
    #b87333 0%,
    #f7cea7 49.52%,
    #b87333 100%
  );
}

.skewX11 {
  transform: skewX(-10.5deg);
}

.textMatrix {
  transform: matrix(1, 0, -0.17, 0.98, 0, 0);
}

.textYellowGradient {
  background: linear-gradient(
    180deg,
    var(--gradient-start-yellow) 15.87%,
    var(--gradient-end-yellow) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
}

.textBlueGradient {
  background: linear-gradient(
    180deg,
    var(--gradient-start-blue) 0%,
    var(--gradient-end-blue) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-unset {
  background: unset;
}

.textSilverGradient {
  background: linear-gradient(
    180deg,
    var(--gradient-start-silver) 0%,
    var(--gradient-end-silver) 50.48%,
    var(--gradient-start-silver) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.textRedGradient {
  background: linear-gradient(
    180deg,
    var(--gradient-start-red-01) 0%,
    var(--gradient-end-red-01) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.slick-arrow::before {
  display: none;
}

.slick-dot li.slick-active .dot-custom {
  background-color: var(--primary-yellow);
}

.swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 0.375rem;
  margin: 0 0.1875rem !important;
  border-radius: 0;
  background-color: var(--gray-3);
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--primary-yellow);
}

.day-race-tab-grid {
  @media (min-width: 768px) {
    grid-template-columns: repeat(var(--race-count), 1fr) !important;
  }
}

.bg-yellow-gradient-linear {
  background: linear-gradient(
    313.59deg,
    #ff8f52 1.23%,
    #ffc72c 30.77%,
    #ffda5f 50.47%,
    #ffc72c 69.23%,
    #ff8f52 98.77%
  );
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
